.container {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
    padding: 15px;
}

.container button,
a {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px auto;

}

a {
    text-align: center;
    color: black;
}

.active {
    background-color: yellow;
}